* {
	background-color: #FFFFFF;
	color: #4D3E11;
	line-height: 100%;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 5px;
	font-size: 300%;
	font-family: 'Cabin Sketch', cursive;
}

ol {
	text-align: left;
	display: inline-block;
	width: 90%;
}

li {
	text-align: left;
}

form {
	margin-top: 20px;
}

input {
	text-align: left;
}

.change_color {
	color: #468966;
}

.color_button {
		font-family: 'Cormorant Garamond', serif;
		font-weight: bold;
    background-color: #EFC94C;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#logout_link {
	text-align: left;
	display: inline-block;
	width: 90%;
}

#form_label {
	font-family: 'Cormorant Garamond', serif;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
}

#carrot_image{
margin-top: 40px;
margin-bottom: 0px;
font-size: 100px;
}

#carrot {
	margin-top: 0px;
	width: 12%;
}

#login_bar {
	text-align: center;
	display: inline-block;
}

#ingredients_list {
	text-align: center;
	display: inline-block;
}

#numbers {
	margin-left: 20%;
}
#show_page {
	text-align: center;
	display: inline-block;
}

#left_align{
	text-align: left;
	display: block;
	width: 90%;
	padding: 0px;
}

#password_input {
	margin-right: 5px;
}
