* {
	background-color: #FFFFFF;
	line-height: 100%;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 25px;
}

ol {
	text-align: left;
	display: inline-block;
	width: 90%;
}

li {
	text-align: left;
}

form {
	margin-top: 20px;
}

input {
	text-align: left;
}

#logout_link {
	text-align: left;
	display: inline-block;
	width: 90%;
}

#form_label {
	margin-right: 5px;
}

#carrot {
	width: 12%;
}

#ingredients_list {
	text-align: center;
	display: inline-block;
}

#show_page {
	text-align: center;
	display: inline-block;
}

#directions_list {
	text-align: left;
	display: inline-block;
	width: 90%;
	padding: 0px;
	margin: 0px;
}
