<h1> My recipes: </h1>

<% @recipes.each do |recipe| %> 
	<% if recipe.user_id == session[:id] %>
		<ul>
		<li><a href="/user/<%=@user.id%>/recipes/<%="#{recipe.id}"%>"><%= recipe.title%></a></li>
		</ul>
	<% end %>
<% end %>
