<h1><%= @recipe.title%></h1>
	<span id="ingredients_align"><h2> Ingredients </h2>
		<ul id="ingredients_list">
			<% @recipe.ingredients.each do |ingredient| %>
				<li contenteditable="true"><%= ingredient %></li>
			<% end %>
		</ul></span></center>
	<h2> Directions </h2>
		<ol>
			<% @recipe.directions.each do |direction| %>
			<li><p><%= direction %></p></li>
			<%end%>
		</ol>
	<form action="/user/<%=@user.id%>/recipes" method="get">
		<button name="save_recipe" type="submit">Go to my recipe box</button>
	</form>

 