<h1 id="recipe_title"><%= @recipe.title%></h1>
	<h2 class="change_color"> Ingredients </h2>
		<ul id ="show_page">
			<% @recipe.ingredients.each do |ingredient| %>
				<li contenteditable="true"><%= ingredient %></li>
			<% end %>
		</ul>
	<h2 class="change_color"> Directions </h2>
		<ol id="numbers">
			<% @recipe.directions.each do |direction| %>
			<li><p><span id="left_align"><%= direction %></span></p></li>
			<%end%>
		</ol>
	<form id="send_ingredients" action="/sms/<%=@recipe.id%>" method="post">
		<button name="send_text" type="submit" class="color_button">Send ingredients</button>
	</form>
