<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
	<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
 

  <title>Welcome to Recipe Box!</title>
</head>
<body>
	<h1> Create Account </h1>
		<form action="/users" method="post">
			<p><input type="text" name="user[first_name]" placeholder="First Name"></p>
			<p><input type="text" name="user[last_name]" placeholder="Last Name"></p>
			<p><input type="text" name="user[email]" placeholder="Email"></p>
			<p><input type="text" name="user[phone]" placeholder="Phone"</p>
			<p><input type="password" name="user[password]" placeholder="Password"></p>
			<p><input id="register_button" class="color_button" type="submit" value="Register"></p>
		</form>
		<p>Already have an account? <a href="/sessions/new">Login</a></p>
	</body>
	</html>