<h1> Create Account </h1>
		<form action="post" input="/">
		<p><input type="text" name="first_name" placeholder="First Name"></p>
		<p><input type="text" name="last_name" placeholder="Last Name"></p>
		<p><input type="text" name="email" placeholder="Email"></p>
		<p><input type="password" name="password" placeholder="Password"></p>