<h1 id="landing_text"> <%= @user.first_name %>'s recipe box.</h1>

<h2> Add recipe to collection: </h2>
	<form id="add_recipe" action="/user/<%=@user.id%>/recipes/new" method="get">
	  <input type="text" name="recipe_url"><br><br>
	  <input type="submit" value="Save" class="color_button">
	</form>


