<h1> Howdy, <%= @user.first_name %>! Welcome to your recipe box.</h1>

<h2> Add recipe to my collection: </h2>
	<form id="add_recipe" action="/user/<%=@user.id%>/recipes/new" method="get">
	  <input type="text" name="recipe_url">
	  <input type="submit" value="Save">
	</form>
<h1> OR </h1>

<form action="/user/<%=@user.id%>/recipes" method="get">
	<button type="submit" name="open_box" class="color_button">"Open box"</button>
</form>


