<h1> Howdy, <%= @user.first_name %>! Welcome to your recipe box.</h1>

<h2> Enter a recipe URL into the box below: </h2>
<form action="/testing" method="post">
  <input type="text" name="recipe_url">
  <input type="submit">
</form>

