<div class="container">
	<h1 id="carrot_image"> recipe box</h1>
	<img id="carrot" src="/images/carrot1.png" name="carrot">
</div>
 <form align="center" action="/sessions" method="post">
  <div id="login_bar">
  	<label id="form_label">Email:</label><br><br>
  	<input type="email" name="email"><br><br>
		<label id="form_label">Password:</label><br><br>
		<input id="password_input" type="password" name="password"><br><br>
		<input class="color_button" type="submit" value="Login"><br><br>
  	<a href="/users/new">Create Account</a>
</div></form>
