<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
 

  <title>Welcome to Recipe Box!</title>
</head>
<body>
	<% if logged_in? %>
        <span id="logout_link">
          <a href="/sessions/delete" id="logout_text">
            <span id="logout_text">Logout</span></a>
          <a href="/user/<%=session.id%>/recipes" id="logout_text">My Recipe Box</a>
        </span>
      <% else %>
      <%= @errors %>
       <!--  <form align="center" action="/sessions" method="post">
          <div id="login_bar"><label id="form_label">email:</label><input type="email" name="email">

          <label id="form_label">password:</label><input id="password_input" type="password" name="password">
   
          <input class="color_button" type="submit" value="login">
        <text>   </text>
        <a href="/users/new">create account</a>
        </div></form> -->
      <% end %>
  <%= yield %>
</body>
</html>