<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
 

  <title>Welcome to Recipe Box!</title>
</head>
<body>
	<% if logged_in? %>
        <span id="logout_link">
          <a href="/sessions/delete" class="logout_text">
            <span class="logout_text">Logout |</span> </a>
              <a href="/user/<%=session[:id]%>/recipes" class="logout_text">| My Recipe Box |</a>
              <a href="/users/<%=session[:id]%>" class="logout_text">| Add Recipe</a>
        </span>
      <% else %>
      <%= @errors %>
      <% end %>
  <%= yield %>
</body>
<div id="footer">
<footer>
  
</footer>
</div>
</html>