<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
 

  <title>Welcome to Recipe Box!</title>
</head>
<body>
	<% if logged_in? %>
        <span id="logout_link"><a href="/sessions/delete">Logout</a></span>
      <% else %>
      <%= @errors %>
        <form align="center" action="/sessions" method="post">
          <div><label>Email:</label><input type="email" name="email">

          <label>Password:</label><input type="password" name="password">
   
          <input type="submit" value="Login">
        <text>   </text>
        <a href="/users/new">Create Account</a>
        </div></form>
      <% end %>
  <%= yield %>
</body>
</html>